.header
	position: relative
	width: 100%
	overflow: hidden
	padding-top: 20px
	padding-bottom: 20px
	display: flex
	justify-content: space-between
	align-items: stretch
	padding-left: 50px
	padding-right: 50px
	z-index: 1
	background-color: #fff
	.logo
		background-color: #fff
		padding: 15px
		position: relative
	&-line
		.logo
			border-bottom: 1px solid rgba($accent, 0.2)
.navBurger 
    position: absolute
    right: 20px
    top: 30px
    cursor: pointer
    background: $accent
    z-index: 6
    box-sizing: border-box
    background-clip: content-box
    width: 35px
    height: 25px
    border-top: 11px solid transparent
    border-bottom: 11px solid transparent
    transform: rotate(0deg)
    transition: all 0.25s ease-in-out
    display: none
    &:before,
    &:after 
        content: ""
        position: absolute
        background: $accent
        height: 3px
        width: 100%
        right: 0
        will-change: rotate
        transform: rotate(0deg)
        transition: all 0.5s ease
    &:before 
        top: -10px
    &:after 
        bottom: -10px
        width: 100%
    &.active 
        background: transparent
        background-clip: content-box
    &.active:before
        transform: rotate(135deg)
        top: 0
        background: $accent
        width: 110%
    &.active:after 
        bottom: 0
        transform: rotate(-135deg)
        background: $accent
        width: 110%

//Extra large: ≥1200px
+media-breakpoint-down(xl)

//Large: ≥992px
+media-breakpoint-down(lg)
	.navBurger
		display: block
//Medium: ≥768px
+media-breakpoint-down(md)
	
//Small: ≥576px
+media-breakpoint-down(sm)
	.header
		padding-top: 15px
		padding-left: 15px
	
//Extra small: >0
+media-breakpoint-down(xs)
	header 
		.logo
			width: 200px
			img 
				width: 100%
