.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.category-list,
.location-list,
.typeLocation-list,
.season-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.category-list li,
.location-list li,
.typeLocation-list li,
.season li {
    margin-right: 15px;
}
.category-list li a,
.location-list li a,
.typeLocation-list li a,
.season li a {
    padding: 15px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: black;
}
.category-item.active {
    color: tomato;
}
.card-wrapper{
    margin-top: 30px;
}

.location,
.typeLocation,
.season {
    display: none;
}
.location.active,
.typeLocation.active,
.season.active {
    display: block;
    margin-top: 20px;
}